@import 'variables';
@import 'fonts';

.input {

  &-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    @include lg {
      width: calc(50% - 20px);
      margin: 0 10px 20px;
    }

    &__label {
      font-family: 'Oswald';
      font-size: 14px;
      margin-bottom: 10px;

      @include xl {
        font-size: 18px;
      }
    }

    &__input {
      padding: 10px 10px 9px;
      border: 1px solid $colorDarkBlue;
      font-size: 12px;
      color: $colorGrey;
    }

    &__textarea {
      height: 8em;
      padding: 10px;
      border: 1px solid $colorDarkBlue;
      font-size: 12px;
      color: $colorGrey;
    }
  }
}

