.callback
    .callback__inner.callback__inner--left
        .callback__title
            | Возникли вопросы? Свяжитесь с нами
        a.callback__phone(href="tel:+73519495951") +7 (3519) 49-59-51
        .callback__title
            | Телефон горячей линии. РОСТИ.

    .callback__inner.callback__inner--right
        .callback__title
            | Или оставьте нам заявку
        .callback__text
            | Наш менеджер свяжется с Вами в ближайшее время
        button.btn.btn--centered.open-modal
            | Оставить заявку