.contacts
    .container
        .contacts__inner
            h2.h2.contacts__title
                | БУДЕМ РАДЫ ВИДЕТЬ ВАС ЛИЧНО в РЕГИОНАЛЬНЫх ПРЕДСТАВИТЕЛЬСТВАх
            .contacts__items
                +contact({
                    title: 'Магнитогорск',
                    text: 'ул. Зеленый лог, д. 34, 455008',
                    numbers: ['+7 (3519) 49-59-52', '+7 (3519) 49-59-53']
                })

                +contact({
                    title: 'Челябинск',
                    text: 'ул. Кожзаводская, д. 20',
                    numbers: ['+7 (909) 099-88-68']
                })

                +contact({
                    title: 'Екатеринбург',
                    text: 'ул. Бетонщиков, д. 5',
                    numbers: ['+7 (932) 606-24-41']
                })

                +contact({
                    title: 'Сургут',
                    text: 'ул. Бетонщиков, д. 5',
                    numbers: ['+7 (932) 606-24-41']
                })

            a.link-more(href="")
                | подробнее