header.header
    .header__container
        a.header__logo(href="/"): img(src="assets/images/logo.png" alt="rosti" title="rosti")
        nav.header-nav
            ul.header-nav__list
                li.header-nav__item: a.header-nav__link(href="#") Продажа
                li.header-nav__item: a.header-nav__link(href="#") Аренда
                li.header-nav__item: a.header-nav__link(href="#") Сервис
                li.header-nav__item: a.header-nav__link(href="#") Компания

        .header__contacts
            a.header__email(href="mailto:info@fuchs-ural.ru") info@fuchs-ural.ru
            a.header__phone(href="tel:+73519495951") +7 (3519) 49-59-51
        .header-toggler
            .header-toggler__bar
            .header-toggler__bar
            .header-toggler__bar