.products
    .container
        h2.h2
            | Спец.техника
            |
            span | Аренда | Покупка

    .products__inner
        +product({
            href: '#',
            image: 'assets/images/img-tech-1.jpg',
            title: 'Перегружатели для переработки отходов',
            description: 'Подоберем грейферный погрузчик Terex Fuchs для перевалки сыпучих материалов, которая подойдет именно Вам.',
            values: ['MHL310', 'MHL320', 'MHL331', 'MHL335', 'MHL340']
        })

        +product({
            href: '#',
            image: 'assets/images/img-tech-2.jpg',
            title: 'Перегружатели для перевалки лома',
            description: 'Поможем подобрать перегружатель для перевалки лома в, той модели компании Fuchs, которая подойдет именно Вам.',
            values: ['MHL320', 'MHL331', 'MHL335', 'MHL340', 'MHL350', 'MHL360', 'MHL370', 'MHL380', 'MHL390']
        })

        +product({
            href: '#',
            image: 'assets/images/img-tech-3.jpg',
            title: 'Портовые перегружатели',
            description: 'Техника Terex Fuchs отлично справится с погрузкой и разгрузкой грузов в порту.',
            values: ['MHL350', 'MHL360', 'MHL370', 'MHL380', 'MHL390']
        })

        +product({
            href: '#',
            image: 'assets/images/img-tech-4.jpg',
            title: 'Перегружатели для перевалки леса',
            description: 'Кроме перевалки леса, техника Terex Fuchs справится с лесозаготовкой и раскряжевкой.',
            values: ['MHL334', 'MHL354', 'MHL364', 'MHL350', 'MHL360']
        })

        +product({
            href: '#',
            image: 'assets/images/img-tech-5.jpg',
            title: 'Перегружатели для работы с грунтом',
            description: 'Поможем подобрать перегружатель для перевалки лома, той модели компании Fuchs, которая подойдет именно Вам. ',
            values: ['MHL340', 'MHL350', 'MHL360']
        })

        +product({
            href: '#',
            image: 'assets/images/img-tech-6.jpg',
            title: 'Навесное оборудование',
            description: 'Также компания РОСТИ может предложить навесное оборудование для перегружателей всех моделей Fuchs. ',
            values: []
        })