.summary
    .container
        .summary__inner
            .summary__text
                h1.h1
                    | Продажа, аренда, cервис спецтехники
                    |
                    span TEREX | Fuchs

                .text
                    p.
                        Компания РОСТИ является официальным представителем техники TEREX | Fuchs. Наши региональные
                        представительства имеют офис в четырех городах: Магнитогорск, Екатеринбург, Челябинск и Сургут.

                a.btn(href="#") Все предложения

            .summary__img
                img(src="assets/images/bg-right.png" alt="" title="")